#footer {
    background: #00293e;
}

nav {
    background: #00293e;
}

footer a, footer a:hover, footer a:visited , footer b{
	font-size: 12px;
	color: #f2b829;
	font-weight: bold;
	text-decoration: none;
}

a.option {
    color: #02b5ad;
}

.footer_text {
    font-size: 12px;
    color: #bdbcbc;
    font-weight: bold;
    text-decoration: none;
}

#header li.active a {
    color: #fff !important;
    background: transparent !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
}

.link {
    padding: 0px 25px;
    font-size: 15px;
    color: #f2b829;
    text-decoration: none;
}

.link-flash {
    background-color: #f2b829;
    font-weight: bold;
    border-radius: 100px;
    font-size: 14px;
    width: 110px;
    color: #00293e;
}

.link:hover {
    color: #fff !important;
    background: transparent !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
}

#main .carousel-inner img {
    max-height: 50vh;
    object-fit: cover;
    filter: grayscale(70%);
}
.card-body a {
    color: #f2b829;
    text-decoration: none;
    font-size: 13px;
}

.card {
    border: none;
}

.card-img-top {
    padding: 10px;
}


.hola{
    max-width: 100%;
    max-height: 100%;
}

@supports(object-fit: cover) {
    .prueba {
        max-width: 100%;
        max-height: 100% !important;
        padding: 10px;
        object-fit: cover !important;
        display: block;
    }
}